@import "./font-loader";

// params

/// theme
$color: black;
$color--negative: white;

/// grid
$gutter: 20px;

/// font
$font-size--l: 31px;

$font-size: 18px;
$font-line-height: 22px;

// grid
$top-nav-height: 65px;

@mixin container {
  display: flex;
  flex-wrap: wrap;
}

@mixin with-gutter {
  box-sizing: border-box;
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}

body {
  font-family: "SuisseIntl-Book", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $font-line-height;
  font-size: $font-size;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: manipulation;
}

h1 {
  line-height: $font-line-height;
  font-size: $font-size;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: $font-line-height;
  margin-bottom: $font-line-height;
}

p {
  margin-top: $font-line-height;
  margin-bottom: $font-line-height;
}

.h-text-italic {
  font-style: italic;
}

a {
  color: $color;

  .is-black & {
    color: $color--negative;
  }
}

.h-ui-button {
  line-height: 1em;
}
